# Runtime data
data/*
!data/.gitkeep
logs/

# Environment
.env

# Python
__pycache__/
*/__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
dist/
build/
*.egg-info/
.pytest_cache/
.coverage

# Spark / Big Data
*.parquet
*.crc

# IDEs
.vscode/
.idea/
.ipynb_checkpoints/

# OS
.DS_Store

# Docker
docker-compose.override.yml